{% extends "layout.twig" %}

{% block content %}
    <form action="{{ path('search') }}" method="get">
        <input type="text" name="s" required>
        <button>Search</button>
    </form>
{% endblock %}