{% extends "layout.twig" %}

{% block content %}
    <ul>
        {% for document in documents %}
            <li>
                {{ document.title }} : <a href="{{ document.url.url }}">{{ document.url.url }}</a> : {{ document.pageRank }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}